pathlib
requests
BeautifulSoup4
youtube_dl
pafy
spotipy
git+https://github.com/nicfit/eyeD3.git
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
